@import url("https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap");

* {
  box-sizing: border-box;
}

html {
  background: url("https://images.unsplash.com/photo-1505075106905-fb052892c116?q=80&w=2970&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

body {
  font-family: "Happy Monkey", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 20px;
}

.main {
  background-color: #ffd300;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 50px 20px;
  text-align: center;
  max-width: 100%;
  width: 800px;
}

h1 {
  margin: 0;
  letter-spacing: 2px;
  color: black;
}

#joke {
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 40px;
  margin: 50px auto;
  max-width: 600px;
}

button {
  background-color: red;
  font-family: inherit;
  color: #fff;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 14px 40px;
  font-size: 16px;
  cursor: pointer;
}

.button:active {
  transform: scale(0.98);
}

.button:focus {
  outline: 0;
}
